

.content {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
        .cab-card {
            background-color: #fffefe;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(209, 203, 203, 0.81);
            margin-bottom: 20px;
            padding: 20px;
            
        }
        .cab-card-title {
            color:orange;
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: bold;
            margin-left: -15px;
        }
        .cab-card ul {
            list-style-type: disc;
            padding: 0;
        }
        .cab-card ul li {
            margin-bottom: 10px;
            font-size: 20px;
            color: black;
        }
        .custom-card {
            margin-left: 15px;
            margin-bottom: 15px;
            background-color:white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            height: 100%; 
        }
    h1 {
      text-align: center;
      color: #f15151;
      font-size: 40px;
      margin-bottom: 40px;
    }

 
   
  .wrapperDiv {
    text-align: center;
  }
  .centeredDiv {
    width: 100 px;
    display: inline-block;
  }



    
.card-body {
  padding: 20px;
  
}

    .card-title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 10px;
    }

    
    ul {
      list-style-type: disc; 
      padding-left: 20px;
      margin-bottom: 0;
    }
    


    .card {
  background-color: lavenderblush;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  display: inline-block; /* Display cards inline */
  
  
}

.btn-on-image {
            padding: 7px 20px;
            background-color: #1500b3;
            color: #fff;
            font-size:14px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }

        .btn-on-image:hover {
          background-color: #43b20b;
            color: white;
            text-decoration: none; /* Remove underline */
        }

        .container1{
          position: relative;
        }
    
    .card-image img {
    max-width: 100%;
    height: 450px;
    width: 1600px;
}
        



@media (max-width: 768px) {
  
.card-content {
    padding: 2vh;
    margin-bottom: 2vh;
}
    .card-content h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .card-content p {
        font-size: 18px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-body ul li {
        font-size: 18px;
    }
}



.card-content {
    padding: 2vh;
    margin-bottom: 2vh;
    text-align: right;
}

.card-content h3 {
    font-size: 22px;
    margin-bottom: 1vh;
}

.card-content p {
    font-size: 20px;
  
}

.card-title {
    font-size: 20px;
   
}

.card-body ul li {
    font-size: 15px;
} 
@media (max-width: 768px) {
    #img {
        height: auto;
        max-height: 230px; 
    }
    .btn-on-image {
                font-size: 10px; 
                padding: 4px 8px; 
            }
  }


  