
  body {
    background-color: #e7e3e9;
    margin-top:40px;
  }
h4{
  color: brown;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}
#lists{
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: -100px;
  text-align: justify;
}
h2{
    color: rgb(96, 13, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-style: oblique;
    text-decoration: underline;
}
.card1:hover {
            background-color: #d5bcda; /* Change background color on hover */
        }

        /* Hover effect for card2 */
        .card2:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }

        /* Hover effect for card3 */
        .card3:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }

        /* Hover effect for card4 */
        .card4:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }

        /* Hover effect for card5 */
        .card5:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }
