{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGA DEALS ON BOOKING</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/buses/trendcard6.css' %}">

    
</head>
<body>
    <div class="container">
        {% for i in res1 %}
        <div class="image-container">
            {% if i.image %}
            <img src="{{ i.image }}" class="w-100" style="height: 410px;" id="img">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <center>
        <a href="/bus_main/" class="more-info-link">Book Now</a>
    </center>

    <div class="container1">
      
        {% for i in res %}
        <div class="offer">
            <div class="offer-heading1">{{ i.title }}</div>
            <ul class="offer-point">
              {% if i.point %}
              <li>{{ i.point }}</li>
              {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>
