{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GANESHA OFFER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/buses/trendcard10.css' %}">
</head>
<body>
    <div class="container">
        {% for i in res12 %}
        <div class="image-container">
            {% if i.photo %}
            <img src="{{ i.photo }}" class="w-100" style="height: 410px;" id="img">
            <a href="/bus_main/" class="more-info-link">Book Now</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="content1">
      
        <center><h1>Grab The Best Deals!</h1></center>
        <center><button><h2>Promocode:FEST24</h2></button></center>
    </div>
    </div><br>

    <div class="container1">
        {% for i in res12 %}
        <div class="offer">
            <div class="offer-heading">{{ i.title }}</div>
            <ul>
                {% if i.content %}
                <li class="offer-title">{{i.content}}</li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>
