.btn-on-image {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0C2D48;
    margin-top: -60px;
}
#sj{
    justify-content: center;

}
h3{
    color: brown;
    text-align: center;

}
th,td{
    padding: 10px;
}
h5{
    color: green;
}
.sk{
    max-width: 100%;
    width: 1600px;
    height: 500px;
}
#sh{
    
    background-color: burlywood;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width:786px){
    #img {
        height: 200px;
    }
    .btn-on-image{
        font-size: 12px;
        padding: 2px 4px;
        margin: -40px;
        margin-left: 2px;
        
    }

   .container{
    width: 90%;
   }

    #sh{
        width: 350px;
    }
   
    #tabb{
        width: 100%;
    }
    
}
#a{
    color: green;
}
#b{
    color: red;
}