
.accordion-header{
				color: rgb(0, 0, 0);
				font-weight: 500;
}
.accordion-header:hover {
    background-color: rgb(213, 213, 245); 
  
}
.accordion-header.active {
  background-color: #d6d6e0; 
    color: rgb(21,5,241); 
}


     @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

   
.card:hover {
    transform: translateY(-5px);
  }

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
  
.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}
  
.description {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
   
}
  
  
a {
    text-decoration: none; 
}   

.custom-card {
    display: flex;
    flex: 0 0 auto;
    border:1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    background-color: white;
    justify-content: center;
    width: 360px;
    height: 200px;
}

.custom-card img {
  width: 140px;
  height: 200px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.custom-card-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

      
.custom-cards-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
           
}
        
 
 .fixed-carousel-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    top: 160%;
    transform: translateY(-50%);
    gap: 1100px;
  
   
} 


.carousel-nav {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    cursor: pointer;
    z-index: 1000;
    margin-left: -30px;
    margin-right: -30px;
   
}

.prev {
   left: 10px;
}

.next {
    right: 15px;
} 

.title-card {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.description-card {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
   
}


h4 {
    color:rgb(56, 153, 53);
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 30px;
}
.custom-card:last-child {
    margin-right: 0;
}

.custom-card {
    margin-right: 20px; 
}

.custom-cards-container::-webkit-scrollbar {
    display: none;
}

.why{
    background-color: #d6d6e0;
  }
  
  @media only screen and (max-width: 768px) {
        .hide {
            display: none;
            margin-bottom: 20px;
            margin-top: 20px;
        }
         .search-button{
            margin-left: 20px;
        } 
  } 
 

.accordion-item {
    background-color: #FFFFFF; /* White background for items */
    border: 1px solid #E0E0E0; /* Light border */
    border-radius: 8px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Softer shadow */
            width: 90%;
       
}

.accordion-header {
    background-color: rgb(199, 204, 209); /* Soft purple */
    color: black; /* White text */
    padding: 10px;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #a8a7ca; 
  
}
.accordion-header.active {
  background-color: #a8a7ca; 
    color:black; 
}


.icon {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.active .icon {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.accordion-content {
    background-color: #FAFAFA; /* Very light grey for content */
    overflow: hidden;
    padding: 0 15px;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    width: 100%;
    text-align: justify;
}

.accordion-content p {
    margin: 15px 0;
    line-height: 1.5;
}

#op{
  color: rgb(49, 48, 48);
  font-size: 20px;
}



#q{
    width: 80%;
    border-radius: 10px;
    border: 1px solid rgb(198, 81, 13);

}

.navsearch{  
    /* background-image: url(https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-image: url(https://img.freepik.com/free-photo/landscape-summer-paradise-travel-coast_1203-5776.jpg?ga=GA1.1.1457894989.1720765855&semt=ais_hybrid);
    background-image: url(https://images.pexels.com/photos/568236/pexels-photo-568236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);


    /* border-radius: 10px;  */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    max-width: 1200px;
  
}

.hotel-container {
    max-width: 1050px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(119, 105, 105, 0.6);
    border-radius: 10px;  
    box-shadow: 0px 0px 10px rgba(236, 223, 223, 0.3);
    background-color: rgba(119, 105, 105, 0.6);
    transition: all .3s;
}

.hotel-container:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 12px 20px rgba(236, 223, 223, 0.3);
}


input[type="text"],
input[type="date"],
input[type="number"],
select {
     width: 100%; 
    padding: 12px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-sizing: border-box;
    /* font-size: 16px; */
}




.h4{
    
    color:rgb(56, 153, 53);
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 30px;
 
  }
  #Why:hover{
    background-color: whitesmoke;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    
}
.card-title{
  font-size: 18px;
  margin-top: -10px;

}
.fixed-button {
    position:absolute; 
    bottom: 10px; 
    right: 70px; 
    z-index: 1; 
    
}
@media (max-width: 768px) {
    .offset-md-6 {
        margin-left: 20px !important;
    }
}



@media (max-width: 992px) {
        /* CSS for screens smaller than 768px (e.g., mobile devices) */
        .custom-card img {
            width: 60px; /* Full width for each card on smaller screens */
            height: 100px;
            border-top-right-radius: 40%;
           border-bottom-right-radius: 10%;
           border-top-left-radius: 10px;
           border-bottom-left-radius: 10px;
           
        }
    }
    @media (max-width: 992px) {
        /* CSS for screens smaller than 768px (e.g., mobile devices) */
        .custom-card {
            height: 100px;
            border-radius: 10px;
            width: calc(33% - 13px);
        }
        .title-card{
            font-size: 8px;
        }
        .description-card{
            font-size: 8px;
            margin-top: -10px;
        }
        .btn-primary{
            width: 50px;
            font-size: 7px;
        }
        .custom-cards-container{
            margin-top: -30px;
        }
    }
    @media (max-width:600px){
        .custom-card {
            height: 100px;
            border-radius: 10px;
            width: calc(50% - 10px);
        }
    }
    @media (max-width: 350px) {
        /* CSS for screens smaller than 768px (e.g., mobile devices) */
        .custom-card img {
            width: 30px; /* Full width for each card on smaller screens */
            height: 70px;
            border-top-right-radius: 40%;
           border-bottom-right-radius: 10%;
           border-top-left-radius: 10px;
           border-bottom-left-radius: 10px;
           
        }
    }
    @media (max-width: 350px) {
        /* CSS for screens smaller than 768px (e.g., mobile devices) */
        .custom-card {
            height: 75px;
            border-radius: 10px;
            width: 50%;
        }
        .title-card{
            font-size: 5px;
        }
        .description-card{
            font-size: 6px;
            margin-top: -7px;
        }
        .btn-primary{
            width: 50px;
            font-size: 5px;
        }
        .custom-cards-container{
            margin-top: -20px;
        }
    }


    .u {
           max-width: 1160px; /* Adjust max-width as per your layout */
           margin: auto; /* Center align the container*/ 
       }
   
    @media (max-width: 767px) {
    .date-input {
        display: flex;
    }

    .date-input input {
        flex: 1; /* Take remaining space */
        margin-right: 5px; /* Adjust spacing between inputs */
    }
}

         
          .guests-rooms-container {
            position: relative;
            display: inline-block;
            margin-left: 30px;
        }

        /* Styles for the dropdown button */
        .dropdown-btn {
            padding: 6px;
            border: 1px solid #ccc;
            cursor: pointer;
            background-color: white;
            border-radius: 5px;
            margin-left: 0px;
            width: 193px;
        }

        /* Styles for the dropdown content */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 20px;
            z-index: 1;
            border-radius: 5px;
            width: 300px;
            margin-top: 40px;
            
        }

        /* Styles for the form */
        .dropdown-content form {
            display: flex;
            flex-direction: column;
        }

        /* Styles for the room and guest selectors */
        .dropdown-content div {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
        }

        .dropdown-content input {
          padding: 5px 1px;
            text-align: center;
            width: 40px;
        }

        .apply-btn {
            padding: 5px 15px 10px; 
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px; /* Adjust as needed */
            margin-left: 38%;
        }
        .detailsss{
            display: flex;
            justify-content: center;
            column-gap: 50px;
            
        }
      
        #pricess{
            margin-left: 0px;
        }
        .labelss{
           margin-left: 0px;
        }
        .spacing {
            margin-bottom: 8px; 
        }
        
        .applybuttonss {
            margin-top: 8px; 
        }
/* For devices with width less than 768px (tablets) */
@media screen and (max-width: 768px) {
    .dropdown-btn {
        margin-left: 15px;
        margin-right: -15px;
    }

    .dropdown-content {
        width: 309px;
        margin-left: 0px;
    }

    .labelss {
        margin-left: 0px;
    }

    #pricess {
        margin-left: 0px;
        width: 100.00%;
    }

    .detailsss {
        flex-direction: column;
        align-items: flex-start;
        
    }
    #roomdetails{
        width: 101.50%; 
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    /* font-size: 16px; */
}
.guests-rooms-container {
    margin-left: 17px;
    margin-right: 17px;
    width: 100%;
}
.row{
    width: 100%;
}
.row.col-md-4.col-lg-3.pt-2{
    padding-bottom: 10px;
}


}

@media screen and (max-width: 768px) {
    .checkdetails {
        display: flex;
        flex-wrap: wrap;
    }
    .checkdetails .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
    }
}
.checkdetails{
    display: contents;
   
}

@media screen and (min-width: 769px) {
    .checkdetails .col-md-4 {
        display: inline-block;
        width: auto;
      
    }
 
}
.dropdown-content {
    display: none;
    /* Add other styling as needed */
}

