
        /* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    /* background-color: var(--primary-color); */
}


body.dark .sidebar ul li a:hover {
            background-color:black;
        }

body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #1a1a1a;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
    margin-top: -10px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 20px;/*changess*/
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--black-light-color);
    margin-left: -21px;
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
/* .nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
} */
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
/* .menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
} */
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 4 - 16px);
    padding: 25px 10px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
/* .boxes .box.box4{
    background-color: var(--box4-color);
} */
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}



@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}

.pl{
      padding-left: 10px;
      color: orange;
}
   
    
        .sidebar {
            width: 250px;
            /* background-color: #f0f0f0;  changes*/ 
            padding: 10px;
            position: fixed;
            height: 100%;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }
        .sidebar ul li {
            padding: 8px 0;
        }
        .sidebar ul li a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 8px;
            border-radius: 4px;
        }
        .sidebar ul li a:hover {
            background-color: #e0e0e0;
        }
        .sidebar ul li ul {
            display: none;
            list-style-type: none;
            padding-left: 15px;
        }
        .sidebar ul li.active ul {
            display: block;
        }
        /* Adjustments to swap sub.title and sub.icon */
.sidebar .nav-item.parent a {
    display: flex;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    font-size: small;
    color: var(--black-light-color);
}

.sidebar .nav-item.parent a i {
    margin-right: 10px; /* Space between icon and title */
}

.sidebar .nav-item.parent a .link-name {
    order: 1; /* Ensure title appears after icon */
}

.sidebar .nav-item.parent a i {
    order: 0; /* Ensure icon appears before title */
}



/* Styling for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
}
    
/* Styling for the pop-up box */
.popup {
    display: none; /* Initially hidden */
    background-color: rgb(255, 230, 255);
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    text-align: center;
}

/* Styling for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
label{
    font-family: 'poppins';
    font-size: 15px;
}
.form{
    padding: 15px;
}
.input-box{
    border-width: 1px;
    border-color: #707070;
    height: 25px;

}
.form-button{
    padding: 8px;
    font-family: 'poppins';
    background-color: #0126fd;
    border-width: 0px;
    border-radius: 6px;
    color: white;

}
.overlay1{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
}

.modal-backdrop{
                display: none;
            }
/* Styling for the pop-up box */
.resetpopup {
    display: none; /* Initially hidden */
    background-color: #fce4e4;
    padding: 5px;
    margin: 20px;
    margin-bottom: 10px;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    text-align: center;
}


/* Style for the ul.nav */
ul.nav {
    background-color: #f8f9fa; /* Background color */
    padding: 5px; /* Padding around the ul */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}
.nav{
    display: block;
}
/* Style for the li.nav-item */
ul.nav .nav-item {
    list-style-type: none; /* Remove default list styling */
    margin-right: 10px; /* Margin between list items */
}

/* Style for the a.nav-link */
ul.nav .nav-link {
    display: block; /* Display as block element */
    padding: 10px 15px; /* Padding inside each link */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for the a.nav-link */
ul.nav .nav-link:hover {
    background-color: #e9ecef; /* Hover background color */
}

/* Style for the dropdown menu */
ul.nav .dropdown-menu {
    display: none; /* Hide dropdown menu by default */
    position: absolute; /* Position absolutely */
    background-color: #fff; /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for dropdown */
    z-index: 1000; /* Ensure dropdown is above other content */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    border-radius: 5px; /* Rounded corners */
}


/* Style for dropdown items */
ul.nav .dropdown-item {
    display: block; /* Display as block element */
    padding: 8px 15px; /* Padding inside each dropdown item */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for dropdown items */
ul.nav .dropdown-item:hover {
    background-color: #e9ecef; /* Hover background color */
    border-radius: 5px; /* Rounded corners */
}


/* #profileDropdown{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 40px;
} */

    
            .modal-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
                z-index: 1040; /* Behind the modal but above other content */
            }
            .modal-content{
                height: 100%;
                border: none;
                
            }
            .flex-column{
                flex:1;
            }
            .tab-content{
                flex: 3;
            }
            .container{
                flex: auto;
                max-width: 700px;
                max-height: 500px;
            }
            .modal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #fff;
                border-radius: 0.5rem;
                /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
                z-index: 1050; /* Above the overlay */
                max-width: 700px;
                max-height: 500px;
                overflow: auto;
            }
        
            .modal-dialog {
                margin: 0;
                max-width: 100%;
                height: 100%;
            }
        
            .modal-header,
            .modal-body,
            .modal-footer {
                padding: 1rem;
            }
        
            .btn-close {
                background: none;
                border: none;
                font-size: 1.25rem;
                cursor: pointer;
            }
        
        /* Your custom styles */
    
        

        body {
            background-color: #f9f9fa;
        }

        .padding {
            padding: 3rem !important;
        }

        .user-card-full {
            overflow: hidden;
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
            box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
            border: none;
            margin-bottom: 30px;
           
        }
        .card-body{
            max-width: 300px;   
            width: 100%;
        }

        .m-r-0 {
            margin-right: 0px;
        }

        .m-l-0 {
            margin-left: 0px;
        }

        .user-card-full .user-profile {
            border-radius: 5px 0 0 5px;
        }

        .bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
            background: linear-gradient(to right, #ee5a6f, #f29263);
        }

        .user-profile {
            padding: 20px 0;
        }

        .card-block {
            padding: 1.25rem;
        }

        .m-b-25 {
            margin-bottom: 10px;
        }

        /* label.image-edit {
            display: block;
            background-color: seashell;
            padding: 0em 3em;
            height: max-content;
            width: 100px;
        } */
    
        .img-radius {
            border-radius: 10px;
        }

        h6 {
            font-size: 14px;
        }

        .card .card-block p {
            line-height: 20px;
        }

        .row {
            display: flex;
        }

        @media only screen and (min-width: 1400px) {
            p {
                font-size: 14px;
            }
        }

        .card-block {
            padding: 1.25rem;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .card .card-block p {
            line-height: 25px;
        }

        .text-muted {
            color: #919aa3 !important;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .f-w-600 {
            font-weight: 600;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .col-sm-6 {
            margin-bottom: 10px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .user-card-full .social-link li {
            display: inline-block;
        }

        .user-card-full .social-link li a {
            font-size: 20px;
            margin: 0 10px 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .yogesh{
            margin: 1px;
        }
      .reecha{
        margin: 1px;
      }
      .ree{
        margin: 1px;
        padding: 4px 0px 4px 0px;
      }
      #profile{
        
        width: 100%;
       
    }
    body.dark #drop{
    background-color: #000;
    border: 1px solid #fff;
  }
 
