
                  
            
                 
table {
    width: 600px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    margin: 0;
    height: 300px;


}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}
td {
    background-color: #f9f9f9;
    color: #333;
}
tr:last-child td {
    border-bottom: none;;
}
          
    
    .furl{
        text-decoration: none;
    }
            
           